@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}


header {
    background-color: black;
    color: white;
    
    
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    margin: 0px;
    padding: 50px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 4.5vw;
}

header > p {
    padding-bottom: 50px;
    margin: 0px;
    text-align: center;
    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(52, 52, 52);
    color: white;
}
.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.252);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}










