@charset "UTF-8";

* {
     font-family: Arial, Helvetica, sans-serif;
     
}
p {
    text-align: justify
}
body {
    background-image: linear-gradient(to right,#061440, #35AAF2);
}
main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px rgba(2, 71, 141, 0.723);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    
}
h1 {
   color: #061440;
   text-align: center;
   text-shadow: 1px 1px 0px rgb(38, 38, 38);
}
h2 {
    color: #0d968a;
}